USE [CrudOperation]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 29-04-2025 20:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Department] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Name], [Address], [Department]) VALUES (2, N'Abhimanyu Yadav ', N'kalher', N'ER')
INSERT [dbo].[Employee] ([Id], [Name], [Address], [Department]) VALUES (10, N'Abhimanyu Yadav', N'Thane', N'IT')
INSERT [dbo].[Employee] ([Id], [Name], [Address], [Department]) VALUES (11, N'Pankaj Yadav', N'Thane', N'HR')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
/****** Object:  StoredProcedure [dbo].[AddEmployee]    Script Date: 29-04-2025 20:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddEmployee]
    @Name NVARCHAR(100),
    @Address NVARCHAR(200),
    @Department NVARCHAR(100)
AS
BEGIN
    INSERT INTO Employee (Name, Address, Department)
    VALUES (@Name, @Address, @Department);

    SELECT * FROM Employee; -- Return updated list if needed
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 29-04-2025 20:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteEmployee]
    @Id INT
AS
BEGIN
    DELETE FROM Employee
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetEmployee]    Script Date: 29-04-2025 20:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEmployee]
    @Id INT
AS
BEGIN
    SELECT Id, Name, Address, Department
    FROM Employee
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetEmployees]    Script Date: 29-04-2025 20:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEmployees]
AS
BEGIN
    SELECT Id, Name, Address, Department
    FROM Employee;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployee]    Script Date: 29-04-2025 20:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateEmployee]
    @Id INT,
    @Name NVARCHAR(100),
    @Address NVARCHAR(200),
    @Department NVARCHAR(100)
AS
BEGIN
    UPDATE Employee
    SET [Name] = @Name,
        [Address] = @Address,
        [Department] = @Department
    WHERE Id = @Id;
END;
GO
